<!DOCTYPE html>
<html>
  <head>
    <title>Furima29291</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css"> 
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if user_signed_in? %>
          <div class="user_nav grid-6">
          </div>
        <% else %>
          <div class="grid-6">
          </div>
        <% end %>
    <%= yield %>
  </body>
</html>
